body {
	margin-top: 60px;
}
section {
	padding-top: 40px;
}

/*** Reset ***/
.ui-reset {
	width: 14px;
	height: 14px;
	margin: 5px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
    background-position: -48px -96px;
}

/*** Remove ***/
#directives-remove ul.piped-list {
	padding: 0;
	margin: 10px 0;
}
#directives-remove .piped-list li {
	display: inline-block;
	border-left: 2px solid;
	margin-left: 5px;
	padding-left: 10px;
}
#directives-remove .piped-list li:first-child {
	border-left: none;
	margin-left: 0;
}

/*** ShowHide ***/
.ui-show {
	display: block;
}
.ui-hide {
	display: none;
}
.animate span {
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.animate .ui-show {
	color: blue;
}
.animate .ui-hide {
	opacity: 0;
}
#EmptyField {

	width:300px;
	height:100px;
	overflow: scroll;
}
/*** Select2 ***/
#directives-select2 select {
	width: 200px;
}
/*** Scrollfix ***/
#scrollExample p {
	font-size: 20px;
	color:red;
	text-shadow: 0px 2px 3px #555;
}
#scrollExample.ui-scrollfix .ui-scrollfix {
	top: -50px;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#scrollExample .ui-scrollfix {
	position: fixed;
	top: 50px;
}
#scrollExample {
	height: 45px;
	width:400px;
}

/*** Highlight ***/
.ui-match {
	background: yellow;
}

/*** Keypress ***/
#directives-keypress textarea {
	width: 100%;
	height: 100px;
}

span[ui-currency] {
	display:block;
}
/*** Currency ***/
.ui-currency-pos {
  font-weight: bold;
}
.ui-currency-neg {
  font-size: 125%;
}
.ui-currency-zero {
  color: #000;
}