body {
    margin-top: 40px;
    margin-bottom: 80px;

}
.logo {
    height: 150px;
    background: url('../logo/UI_Shield.png') no-repeat;
    background-size: contain;
    background-position-x: 100%;
    margin-top: 10px;
}
.bs-docs-social {
    text-align: center;
}
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
}

.jumbotron {
    padding-top: 28px;
    padding-bottom: 18px;
}